.slider_img {
    object-fit:contain;
    max-width: 100%;
    border-radius: 20px;
    padding-left: 10px;
    cursor: pointer;

    &__first{
        animation-name:  animationFirst;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }

    &__second {
        animation-name:  animationSecond;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }

    &__last {
        animation-name:  animationLast;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }
}

@keyframes animationFirst {
    0%{
        left:0;
        opacity: 1;
        transform: translateX(0);
    }
    10%{
        z-index: -1;
    }
    33%{
        transform: translateX(200%) translateX(32px);
    }
    66%{
        left: 100%;
        transform: translateX(100%) translateX(16px);
    }
    100%{
        left: 0;
        transform: translateX(0);
    }
}

@keyframes animationSecond {
    0%{
        opacity: 1;
        left: 0;
        transform: translateX(0);
    }
    33%{
        left: -100%;
        transform: translateX(-100%) translateX(-16px);
    }
    43%{
        z-index: -1;
    }
    66%{
        transform: translateX(100%) translateX(16px);
    }
    100%{
        left: 0;
        transform: translateX(0)

    }
}

@keyframes animationLast {
    0%{
        left: 0;
        transform: translateX(0);
    }
    33%{
     
        transform: translateX(-100%) translateX(-16px);
    }
    66%{
        opacity: 1;
        transform: translateX(-200%) translateX(-16px);
    }
    76%{
        z-index: -1;
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}

